
/* source */
@import url("https://raw.githack.com/sneexy-boi/material-cord/main/src/source.css");
/*_            _       _                         _ 
_ __ ___   __ _| |_ ___ _ __(_) __ _| |       ___ ___  _ __ __| |
| '_ ` _ \ / _` | __/ _ \ '__| |/ _` | |_____ / __/ _ \| '__/ _` |
| | | | | | (_| | ||  __/ |  | | (_| | |_____| (_| (_) | | | (_| |
|_| |_| |_|\__,_|\__\___|_|  |_|\__,_|_|      \___\___/|_|  \__,_|
*/
:root {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #ff0000;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #FF0000;
    --background-primary: #1A1C1E;
    --background-primary-alt: #1A1C1E;
    --background-secondary: #151718;
    --background-secondary-alt: #151718;
    --background-tertiary: #0F1011;
    --background-accent: #BE0000;
    --background-floating: #181a1b;
    --background-modifier-hover: #1d1f22;
    --background-modifier-active: #3a3f44;
    --background-modifier-selected: #2e3236;
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --channeltextarea-background: #2e3236;
    --activity-card-background: #1A1C1E;
}